extends layout

block title
  title PlotQA: Reasoning over Scientific Plots

block description
  meta(name='description', content='PlotQA: Reasoning over Scientific Plots')

block extralinks
  link(rel='stylesheet', href='/stylesheets/explore.css')

block extrascripts


mixin plot_qa_pairs()
  table.table.performanceTable
    tr
      th <center>Plot</center>
      th <center>Question-Answer</center>
          
      tr
        td
          img(src="https://raw.githubusercontent.com/NiteshMethani/PlotQA/master/images/181_line.png", width="70%", height="60%")
        td
          p <b>Q:</b> What is the difference between price of gasoline in Switzerland and price of gasoline in Macedonia in 2008? </br>
          p <b>A:</b> #{0.15} </br> </br>
          p <b>Q:</b> What is the difference between two consecutive major ticks on the Y-axis? </br>
          p <b>A:</b> #{0.5} </br> </br>
          p <b>Q:</b> Is the number of lines equal to the number of legend-labels? </br>
          p <b>A:</b> Yes </br> </br>
          p <b>Q:</b> What is the label or title of the Y-axis? </br>
          p <b>A:</b> Price (US$ per litre)

      tr
        td
          img(src="https://raw.githubusercontent.com/NiteshMethani/PlotQA/master/images/3_vbar_categorical.png", width="70%", height="70%")
        td
          p <b>Q:</b> In how many years is the number of neonatal deaths in Cuba greater than 500? </br>
          p <b>A:</b> #{2} </br> </br>
          p <b>Q:</b> What is the total number of neonatal deaths in Cuba in the graph? </br>
          p <b>A:</b> #{2049.23} </br> </br>
          p <b>Q:</b> How are the legend labels stacked? </br>
          p <b>A:</b> horizontal </br> </br>
          p <b>Q:</b> Does Havana appear as one of the legend labels in the graph? </br>
          p <b>A:</b> No

      tr
        td
          img(src="https://raw.githubusercontent.com/NiteshMethani/PlotQA/master/images/10_dot_line.png", width="70%", height="70%")
        td
          p <b>Q:</b> What is the difference between the highest and the second highest amount of earnings from goods? </br>
          p <b>A:</b> 0.9e+5 </br> </br>
          p <b>Q:</b> How many years are there in the graph? </br>
          p <b>A:</b> #{4} </br> </br>
          p <b>Q:</b> Across all years, what is the minimum earning from goods? </br>
          p <b>A:</b> 6.000e+5 </br> </br>
          p <b>Q:</b> In which year was the earning from goods maximum? </br>
          p <b>A:</b> 2013-14

      tr
        td
          img(src="https://raw.githubusercontent.com/NiteshMethani/PlotQA/master/images/149_hbar_categorical.png", width="70%", height="70%")
        td
          p <b>Q:</b> What is the ratio of the sodium content in Sample 37 to that in Sample 33? </br>
          p <b>A:</b> #{1.086} </br> </br>
          p <b>Q:</b> What is the difference between the highest and the second highest sodium content across the different samples? </br>
          p <b>A:</b> #{1.14} </br> </br>
          p <b>Q:</b> What is the title of the graph? </br>
          p <b>A:</b> Sodium content in different samples </br> </br>
          <!--p <b>Q:</b> How many samples are there in the graph? </br>
          p <b>A:</b> 5 </br> </br> -->
          p <b>Q:</b> Is the sum of the sodium content in Sample 35 and Sample 36 greater than the maximum sodium content across all samples? </br>
          p <b>A:</b> Yes
      
      tr
        td
          img(src="https://raw.githubusercontent.com/NiteshMethani/PlotQA/master/images/1_hbar_categorical.png", width="70%", height="70%")
        td
          p <b>Q:</b> What is the average air quality index value for NHMC per hour? </br>
          p <b>A</b>: #{0.167} </br> </br>
          p <b>Q:</b> What is the difference between the air quality index of CH4 at 07:00:00 hours and the air quality index of CH4 at 09:00:00 hours? </br>
          p <b>A:</b> #{0.5} </br> </br>
          p <b>Q:</b> Is it the case that in every hour, the sum of the air quality index of NMHC and CO is greater than the air quality index of CH4? </br>
          p <b>A:</b> No </br> </br>
          p <b>Q:</b> What is the air quality index of NHMC at 08:00:00 hours? </br>
          p <b>A:</b> #{0.184}
        
      tr
        td
          img(src="https://raw.githubusercontent.com/NiteshMethani/PlotQA/master/images/1304_line.png", width="70%", height="70%")
        td
          p <b>Q:</b> Does the amount of banana production monotonically increase over the years? </br>
          p <b>A:</b> Yes </br> </br>
          p <b>Q:</b> In how many years, is the banana production greater than the average banana production taken over all years? </br>
          p <b>A:</b> #{3} </br> </br>
          p <b>Q:</b> In which year was the banana production minimum? </br>
          p <b>A:</b> 2004-05 </br> </br>
          p <b>Q:</b> What is the median banana production? </br>
          p <b>A:</b> #{20500.12}
        
mixin model_showcase(model, version)
  if model
    h2(id=model) #{model}
  ul.list-inline
    each article in articles
      li
        if !model
          a(href='/' + prefix + article + '.html').btn.actionBtn.inverseBtn
            | #{decodeURIComponent(article.split('/').pop())}
        else
          a(href='/' + prefix + article + '.html' + '?model=' + model + '&version=' + version).btn.actionBtn
            | #{decodeURIComponent(article.split('/').pop())}

block content
  .cover
    .container
      .row
        .col-md-12
          h1 <center>Sample {plot, question, answer} triplet from PlotQA</center>
          .infoCard
            .infoBody
                <!-- img(src="https://github.com/NiteshMethani/PlotQA/blob/master/images/sample_images.png?raw=true", width="100%", height="100%") -->
                +plot_qa_pairs()
                
            
        <!-- .col-md-8
          h1 Visualize Model Predictions
          each model in models.sort().reverse()
              .infoCard
                .infoBody
                    +model_showcase(model, version) -->
                        
